body { background-color: #000; }
#main { margin: 20px auto; background-color: #FFF; }

#main {
	 -webkit-box-orient: vertical;
	 -moz-box-orient: vertical;
	 box-orient: vertical;
}
#main>.top {
	background-color: red;
	height: 20px;

}
#main>.top {
}

#main>.body {
	top: 20px;
	bottom: 20px;
	width: 100%;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
}

#main>.bottom {
	height: 20px;
	top:auto;
	bottom: 0px;
	left: 0px;
	right: 0px;
}
#main>.bottom {
	background-color: yellow;
}

.city {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	box-orient: vertical;
}

.menu_item.menu_check {
	position: relative;
}

.menu_item.menu_check>a:before {
	content : ' ';
	position: absolute;
	border : solid 1px #000;
	background : #fff;
	width: 10px;
	height: 10px;
	left : 5px;
	top: 8px;
}

.menu_item.menu_check.check>a:before {
	background : #000;
}

.dialog {
	margin:0 auto;
	left: 50px;
	right: 50px;
	top: 40px;
	bottom: 40px;
	padding: 10px;
	background: #fff;
	border: solid 1px #999;
	border-radius: 4px;
	-webkit-box-shadow: 0 0 15px 5px #bbb;
	box-shadow: 0 0 15px 5px #bbb;
	position: absolute;
	overflow-y: scroll;
}

.dialog>.top { min-height: 15px; }
.dialog>.top>.close { float: right; }
.dialog>hr> {  }

.tablist {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	box-orient: vertical;
}
.tablist>.tabs>.tab {
	margin-right: 10px;
}
.tablist>.pages {
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
}

.tablist>.pages>.page {
	width: 100%;
	position: relative;
	transition: transform 0.5s;
	-moz-transition: transform 0.5s;
	-webkit-transition: transform 0.5s; 
}

.edit {
	display: inline-block;
}

.dropdown-submenu>a:after {
	display: block;
	float: right;
	width: 0;
	height: 0;
	margin-top: 5px;
	margin-right: -10px;
	border-color: transparent;
	border-left-color: #ccc;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	content: " ";
}