<header>
	<button class="close">close</button>
</header>
<hr />
<div class="body">
	<div class="row">
		<div class="key">ClassName</div>
		<span class="value"><span class="className longmenu" data-col="className"></span></span>
	</div>
	<hr />
	<div class="row">
		<div class="key">Date & Time</div>
		<span class="value">
			<span class="" data-col="starttime" data-type="date"></span>
			<span class="" data-col="starttime" data-type="time"></span>
			To
			<span class="" data-col="endtime" data-type="date"></span>
			<span class="" data-col="endtime" data-type="time"></span>
		</span>
	</div>
	<hr />
	<div class="" type-col="doubleExp">
		<label>Rate</label>
		<input class="edit" data-col="rate" />
	</div>
</div>
<footer></footer>