<header>
	<div class="buttongroup">
		<button class="goto-today">Today</button>
	</div>
	<div class="buttongroup">
		<h3 class="title"></h3>
	</div>

	<div class="buttongroup">
		<button class="prev">&lt;</button>
		<button class="next">&gt;</button>
	</div>

	<div class="buttongroup right">
		<button class="calendartype day">Day</button>
		<button class="calendartype week">Week</button>
		<button class="calendartype month">Month</button>
	</div>
</header>
<div class="content"></div>
<div class="activityEditor" style="display:none">
</div>
<div class="clear"></div>
<footer></footer>