<header>
	<h1></h1>
</header>
<div class="timezone">GMT+08</div>
<table class="ruler weekday"><tr>
	<th class>9/11</th>
	<th class>9/12</th>
	<th class>9/13</th>
	<th class>9/14</th>
	<th class>9/15</th>
	<th class>9/16</th>
	<th class>9/17</th>
</tr></table>
<div class="wholeblocks">
	<div class="activitys"></div>
</div>
<ul class="meters">
	<li class="time">00:00</li>
	<li class="time">01:00</li>
	<li class="time">02:00</li>
	<li class="time">03:00</li>
	<li class="time">04:00</li>
	<li class="time">05:00</li>
	<li class="time">06:00</li>
	<li class="time">07:00</li>
	<li class="time">08:00</li>
	<li class="time">09:00</li>
	<li class="time">10:00</li>
	<li class="time">11:00</li>
	<li class="time">12:00</li>
	<li class="time">13:00</li>
	<li class="time">14:00</li>
	<li class="time">15:00</li>
	<li class="time">16:00</li>
	<li class="time">17:00</li>
	<li class="time">18:00</li>
	<li class="time">19:00</li>
	<li class="time">20:00</li>
	<li class="time">21:00</li>
	<li class="time">22:00</li>
	<li class="time">23:00</li>
</ul>
<div class="blocks">
	<ul class="background">
		<li class="block"></li>
		<li class="block"></li>
		<li class="block"></li>
		<li class="block"></li>
		<li class="block"></li>
		<li class="block"></li>
		<li class="block"></li>
		<li class="block"></li>
		<li class="block"></li>
		<li class="block"></li>
		<li class="block"></li>
		<li class="block"></li>
		<li class="block"></li>
		<li class="block"></li>
		<li class="block"></li>
		<li class="block"></li>
		<li class="block"></li>
		<li class="block"></li>
		<li class="block"></li>
		<li class="block"></li>
		<li class="block"></li>
		<li class="block"></li>
		<li class="block"></li>
		<li class="block"></li>
	</ul>
	<ul class="background weekday">
		<table><tr>
			<td class="vertical"></td>
			<td class="vertical"></td>
			<td class="vertical"></td>
			<td class="vertical"></td>
			<td class="vertical"></td>
			<td class="vertical"></td>
			<td class="vertical"></td>			
		</tr></table>
	</ul>
	<div class="activitys"></div>
	<div class="now"></div>
</div>
