<div class="header">
	<ul class="buttons">
		<li><button class="remove">x</button></li>
		<li><button class="loadcsv" style="display:none">...</button></li>
	</ul>
	<div class="title"></div>
</div>

<div class="giftinfo gift-detail" type-col="gift" style="display:none;"></div>
<div class="lotteryinfo gift-detail" type-col="lottery" style="display:none;"></div>

<div class="heroinfo gift-detail" type-col="hero" style="display:none;">
	<div class="hero_id select"></div>
	<div class="grade edit" data-col="grade">1</div>
	<div class="attrs"></div>
</div>
<div class="equipinfo gift-detail" type-col="equip" style="display:none;">
	<div class="equip_id select"></div>
	<div class="attrs"></div>
</div>
<div class="pieceinfo gift-detail" type-col="piece" style="display:none;">
	<div class="piece_id select"></div>
	<div class="quantity edit" data-col="num">n</div>
	<div class="attrs"></div>
</div>
<div class="iteminfo gift-detail" type-col="item" style="display:none;">
	<div class="item_id select"></div>
	<div class="quantity edit" data-col="num">n</div>
	<div class="attrs"></div>
</div>
<div class="campaigninfo gift-detail" type-col="campaign" style="display:none;">
	<div class="campaign_id select"></div>
	<div class="attrs"></div>
</div>
<div class="nullinfo gift-detail" type-col="null" style="display:none;">NULL</div>

<div class="expinfo gift-detail" type-col="exp" style="display:none;">
	<div class="quantity edit" data-col="num">n</div>
</div>
<div class="staminainfo gift-detail" type-col="stamina" style="display:none;">
	<div class="quantity edit" data-col="num">n</div>
</div>
<div class="coininfo gift-detail" type-col="coin" style="display:none;">
	<div class="quantity edit" data-col="num">n</div>
</div>
<div class="honorinfo gift-detail" type-col="honor" style="display:none;">
	<div class="quantity edit" data-col="num">n</div>
</div>
<div class="cashmoneyinfo gift-detail" type-col="cashmoney" style="display:none;">
	<div class="quantity edit" data-col="num">n</div>
</div>
<div class="towerinfo gift-detail" type-col="tower" style="display:none;">
	<div class="quantity edit" data-col="num">n</div>
</div>
<div class="missioninfo gift-detail" type-col="mission" style="display:none;">
	<div class="quantity edit" data-col="num">n</div>
</div>
<div class="h_baginfo gift-detail" type-col="h_bag" style="display:none;">
	<div class="quantity edit" data-col="num">n</div>
</div>
<div class="e_baginfo gift-detail" type-col="e_bag" style="display:none;">
	<div class="quantity edit" data-col="num">n</div>
</div>
<div class="exploitinfo gift-detail" type-col="exploit" style="display:none;">
	<div class="quantity edit" data-col="num">n</div>
</div>
<div class="pvpinfo gift-detail" type-col="pvp" style="display:none;">
	<div class="quantity edit" data-col="num">n</div>
</div>
<div class="vipinfo gift-detail" type-col="vip" style="display:none;">
	<div class="quantity edit" data-col="num">n</div>
</div>

<div class="rateinfo" style="display:none">rate:<span class="rate edit">0</span></div>

<input class="upload" type="file" style="display:none" />
<div class="children"></div>