<header>
	<h1></h1>
</header>
<div class="blocks">
	<div class="background">
		<div class="head week">
			<table>
				<tr>
					<td class="weekday">Sunday</td>
					<td class="weekday">Monday</td>
					<td class="weekday">Tuesday</td>
					<td class="weekday">Wednesday</td>
					<td class="weekday">Thursday</td>
					<td class="weekday">Friday</td>
					<td class="weekday">Saturday</td>
				</tr>
			</table>
		</div>
		<div class="week">
			<div class="activitys"></div>
			<table>
				<tr>
					<td class="day">1</td>
					<td class="day">2</td>
					<td class="day">3</td>
					<td class="day">4</td>
					<td class="day">5</td>
					<td class="day">6</td>
					<td class="day">7</td>
				</tr>
			</table>
		</div>
		<div class="week">
			<div class="activitys"></div>
			<table>
				<tr>
					<td class="day">1</td>
					<td class="day">2</td>
					<td class="day">3</td>
					<td class="day">4</td>
					<td class="day">5</td>
					<td class="day">6</td>
					<td class="day">7</td>
				</tr>
			</table>
		</div>
		<div class="week">
			<div class="activitys"></div>
			<table>
				<tr>
					<td class="day">1</td>
					<td class="day">2</td>
					<td class="day">3</td>
					<td class="day">4</td>
					<td class="day">5</td>
					<td class="day">6</td>
					<td class="day">7</td>
				</tr>
			</table>
		</div>
		<div class="week">
			<div class="activitys"></div>
			<table>
				<tr>
					<td class="day">1</td>
					<td class="day">2</td>
					<td class="day">3</td>
					<td class="day">4</td>
					<td class="day">5</td>
					<td class="day">6</td>
					<td class="day">7</td>
				</tr>
			</table>
		</div>
		<div class="week">
			<div class="activitys"></div>
			<table>
				<tr>
					<td class="day">1</td>
					<td class="day">2</td>
					<td class="day">3</td>
					<td class="day">4</td>
					<td class="day">5</td>
					<td class="day">6</td>
					<td class="day">7</td>
				</tr>
			</table>
		</div>
	</div>
</div>