<div class="search">
	<label class="player_id">
		<span>player_id: </span>
		<input class="edit long" type="text" data-prefix="" data-col="id" />
	</label>
	<label class="user_id">
		<span>user_id: </span>
		<input class="edit long" type="text" data-prefix="" data-col="m_uid" />
	</label>
	<label class="nickname">
		<span>nickname: </span>
		<input class="edit long" type="text" data-prefix="like" data-col="nickname" />
	</label>
	<label class="grade">
		<span>grade from: </span>
		<input class="edit" type="text" data-prefix="min" data-col="grade" value="0" />
		<span> to </span>
		<input class="edit" type="text" data-prefix="max" data-col="grade" value="0" />
	</label>
	<label class="submit">
		<button class="search">search</button>
	</label>
</div>
<hr />
<div class="result"></div>